<!DOCTYPE html>
<html>
<head>
  <title>BarRouletteApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='bar-container'>
  <input type="text" id='term'>
  <button id='search'>Search</button>
  <section id='display'></section>
</div>

</body>
</html>
